version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - notes-data:/usr/src/app/data
    restart: always

volumes:
  notes-data:
