name: CI

on:
  push:
    branches:
      - main

jobs:
  lint-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Node.js dependencies
        run: npm install

      - name: Run linters
        run: npm run lint

      - name: Set ESLint binary as executable
        run: chmod +x node_modules/.bin/eslint 
